@charset "utf-8";
/* CSS Document */

/*------------------------------------------
Project Name : Law Firm
Desgined By  : hassan_malik19
Developed By : Hassan;
Date        :  01/30/18;


	Table Of Index
========================
01. Header css
02. Welcome css
03. Custom slider options
04. About css
05. Services css
06. Practice css
07. Quote css
08. Attorney css
09. Contact css
10. Blog css
11. Footer css
12. Inner Header css
13. Inner Contetn cssInner welcome
14. Contact
15. Blog
16. Side Bar
17. Sidebar Search
18. Categories
18. Archives
19. Popular Posts 
20. Tags
21. Photo Gallery
22. Blog Grid
23. Pagination
24. Testimonials
25. 404 page
26. Faqs
27. Case Results
28. Attorney
29. Attorney Details
30. Innerservice
31. Media Screen

===============================*/

/*********************************************
		base css
*********************************************/
:root {
  --themeColor: #cc8809;
}

html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Open Sans", sans-serviceif;
}
img {
  max-width: 100%;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
}
a {
  transition: 0.4s ease-in;
  -webkit-transition: 0.4s ease-in;
  -moz-transition: 0.4s ease-in;
  -ms-transition: 0.4s ease-in;
  -o-transition: 0.4s ease-in;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Slab", serif;
}
ul,
ol {
  list-style: none;
}
h1 {
  margin: 0;
  font-size: 42px;
  text-transform: uppercase;
  font-weight: 400;
  position: relative;
  margin-bottom: 60px;
  color: #000;
  font-family: "Roboto Condensed", sans-serif;
}
section .headingTitle div span {
  color: #cc8809;
  font-weight: bold;
}
p {
  font-size: 14px;
  line-height: 24px;
  color: #818080;
}
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");

/*********************************************
				Header css
**********************************************/
.adressWrp {
  margin-top: 16px;
}
.headerInfo {
  font-size: 16px;
  color: #9d9d9d;
  font-family: "Roboto Condensed", sans-serif;
  position: relative;
  padding-left: 40px;
  float: right;
}
.headerInfo span {
  display: block;
  color: #000;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: bold;
}
.headerInfo:before {
  content: "";
  background: url(../images/map-icon2.png) no-repeat;
  position: absolute;
  top: 3px;
  left: 0;
  width: 30px;
  height: 36px;
}
.call {
  padding-left: 48px;
}
.call:before {
  content: "";
  background: url(../images/clock-icon.png) no-repeat;
  position: absolute;
  top: 3px;
  left: 0;
  width: 36px;
  height: 36px;
}

/*********************************************
				Header css
**********************************************/
.logo {
  padding-top: 5px;
}
.navigationwrape {
  margin-top: 10px;
  border-bottom: 4px solid #cc8809;
}
.navbar-default {
  background: #282e3f;
  border-radius: 0;
  border: none;
  margin-bottom: 0px;
  margin-top: 0px;
}
.navbar-default .navbar-nav > li > a {
  padding: 15px 22px;
  font-size: 14px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}
.navbar-default .navbar-nav > li:hover > a,
.navbar-default .navbar-nav > li > a:hover {
  color: #fff;
  background: #cc8809;
}
.navbar-default .navbar-nav > li > a.active {
  color: #fff;
  background: #cc8809;
}
/*.navbar-default .navbar-nav>li:last-child{float:right; background:#cc8809;}
.navbar-default .navbar-nav>li:last-child a:hover{background:#966406; color:#fff;}*/
.navbar-nav {
  float: none;
}
.navbar {
  min-height: inherit;
}
.navbar-collapse {
  padding: 0;
}
.navbar-nav li:hover .dropdown-menu {
  display: block;
}
.dropdown-menu {
  background: #fff !important;
  border-top: none;
  padding: 0;
  border-bottom: none;
  border-top: none;
  min-width: 200px;
  border-left: none;
  border-right: none;
}
.dropdown-menu > li {
  border-bottom: 1px solid #efefef;
}
.dropdown-menu > li:last-child {
  border-bottom: none;
}
.dropdown-menu > li > a {
  color: #231f20;
  font-size: 14px;
  padding: 8px 20px 8px 28px;
  position: relative;
}
.dropdown-menu > li > a:hover {
  color: #fff;
  background: #cc8809;
}
.dropdown-menu > li a:before {
  content: "\f0da";
  font-family: "FontAwesome";
  position: absolute;
  top: 9px;
  left: 11px;
  color: #000;
}
.dropdown-menu > li:hover > a:before {
  color: #fff;
}

/*********************************************
			lawInfo css
**********************************************/
.lawInfo {
  background: #cc8809;
  list-style: none;
  padding: 33px 24px 22px 24px;
}

.info-service {
}
.info-service li {
}
.info-service li:nth-child(1) .icon {
  font-size: 36px;
}
.info-service .icon {
  font-size: 40px;
  color: #fff;
  border: 1px solid #fff;
  float: left;
  width: 64px;
  height: 64px;
  margin-right: 16px;
  text-align: center;
  line-height: 64px;
}
.info-service .heading {
  margin-top: -7px;
}
.info-service .heading a {
  text-decoration: none;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  display: block;
  padding-top: 13px;
}
.info-service p {
  font-size: 14px;
  color: #e8e8e8;
  line-height: 22px;
  margin-bottom: 0;
}

/*********************************************
			Custom slider options
**********************************************/
.tp-banner-container {
  position: relative;
  z-index: 1;
  padding: 0;
  width: 100%;
}
.tp-banner {
  position: relative;
  width: 100%;
}
.tp-caption {
  line-height: normal !important;
}
.tp-caption a {
  color: inherit !important;
}
.tp-bullets.simplebullets.round .bullet {
  border: 3px #fff solid;
  border-radius: 50%;
  background-image: none !important;
}
.tparrows {
  width: auto !important;
  height: auto !important;
  background-image: none !important;
}
.tp-arr-allwrapper {
  margin: 0 10px;
  width: 50px;
  height: 60px;
  background: rgba(255, 255, 255, 0.5);
}
.tp-arr-allwrapper:hover .tp-arr-iwrapper {
  color: #fff;
}
.tp-leftarrow .tp-arr-allwrapper {
}
.tp-rightarrow .tp-arr-allwrapper {
}
.tp-arr-iwrapper {
  color: #000;
  text-align: center;
  font-size: 30px;
  font-family: FontAwesome;
  line-height: 60px;
}
.tp-leftarrow .tp-arr-iwrapper {
}
.tp-leftarrow .tp-arr-iwrapper:before {
  content: "\f104";
}
.tp-rightarrow .tp-arr-iwrapper:before {
  content: "\f105";
}
.tp-rightarrow .tp-arr-iwrapper {
}
.slide-h1 {
  margin: 5px 0 !important;
  padding: 0 0 10px !important;
  padding-bottom: 5px !important;
  color: #444;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 57px;
}
.slide-h2 {
  margin: 5px 0 !important;
  padding: 0 0 10px !important;
  padding-bottom: 5px !important;
  color: #555;
  font-weight: bold;
  font-size: 55px;
  line-height: 100%;
}
.big-font {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 60px;
}
.large-desc {
  font-size: 16px;
}
.slide-h3 {
  color: #fff;
  font-size: 31px;
  line-height: 100%;
}
.slide-h3 span {
  text-transform: uppercase;
  font-weight: bold;
}
.slide-head {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 30px;
}
.slide-desc {
  font-size: 22px;
  line-height: 150%;
}
.main-title {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 70px;
}
.icon-cont {
  padding: 15px 40px;
  border-radius: 10px;
  text-align: center;
}
.icon-cont:after {
  position: absolute;
  bottom: -10px;
  left: 40%;
  z-index: 5;
  display: inline-block;
  width: 0;
  height: 0;
  border-width: 10px 10px 0 10px;
  border-style: solid;
  content: "";
}
.icon-cont i {
  margin-bottom: 10px;
  color: #fff;
  font-size: 50px;
}
.icon-cont span {
  display: block;
  padding: 0 0 5px;
  color: #fff;
  text-align: center;
  font-size: 18px;
}
a.wit-btn {
  background: #fff;
  color: #333 !important;
  text-transform: uppercase;
}
.wit-line {
  width: 5%;
  height: 1px;
  background: #fff;
}
.vert-line {
  min-height: 270px;
  width: 1px;
  background: #fff;
}
.subTxt {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 17px;
  color: #333;
}
.large-title {
  color: #222;
  font-size: 60px;
  font-weight: 800;
  text-transform: uppercase !important;
}
.large-light-title {
  color: #787878 !important;
  font-size: 70px;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.large-text {
  font-size: 20px;
  color: #000;
  font-weight: lighter;
}
.larger-text {
  font-size: 24px;
  font-weight: lighter;
  text-transform: uppercase;
}
.witTxt {
  color: #fff !important;
}
.light-font {
  font-weight: lighter !important;
  font-size: 50px;
}
.black-bg {
  background: rgba(0, 0, 0, 0.63);
  color: #a8a8a8;
  text-transform: none;
}
.lft-list {
  padding: 10px;
  font-size: 18px;
  color: #fff;
}
.wit-border {
  border: 1px #fff solid;
  padding: 15px 60px;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
}
.rounded-bord {
  margin-right: 15px;
  border: 1px #fff solid;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 13px;
  border-radius: 50%;
}
#vertical-ticker {
  height: 120px;
  overflow: hidden;
}
#vertical-ticker li {
  padding: 15px 20px;
  display: block;
  text-align: center;
}
.to-bottom i.fa {
  font-size: 30px;
  border: 2px #a8a8a8 solid;
  padding: 20px 22px;
  border-radius: 50%;
  -webkit-animation: bounce 2s infinite linear;
  animation: bounce 2s infinite linear;
}
.tp-bannertimer {
  display: none;
}
.slidertext1 {
  color: #000;
  font-size: 48px;
  font-weight: 200;
  padding: 0;
  text-transform: none !important;
  font-family: "Roboto Condensed", sans-serif;
  text-align: left;
  line-height: 60px !important;
  margin-bottom: 5px;
}
.slidertext1 span {
  color: #6bb305;
}
.slidertext2 {
  color: #fff;
  font-size: 30px;
  font-weight: 300;
  padding: 15px 25px;
  text-transform: none !important;
  text-align: left;
  text-shadow: 0 0 1px rgba(24, 24, 24, 0.75);
  font-family: "Roboto Condensed", sans-serif;
}
.slidertext3 {
  color: #fff;
  font-size: 66px;
  font-weight: 700;
  padding: 15px 25px;
  text-transform: uppercase;
  text-align: left;
  text-shadow: 0 0 1px rgba(24, 24, 24, 0.75);
  font-family: "Roboto Condensed", sans-serif;
}
.slidertext6 {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  padding: 15px 20px;
  line-height: 26px !important;
  text-transform: none !important;
  text-align: left;
  text-shadow: 0 0 1px rgba(24, 24, 24, 0.75);
}
.slidertext7 {
  margin-left: 20px;
}
.slidertext7 a {
  font-size: 18px;
  background-color: #cc8809;
  color: #cc8809 !important;
  padding: 16px 48px;
  border-radius: 30px;
  font-weight: bold !important;
  -webkit-transition: 0.4s ease-in;
  box-shadow: 0 0 0 2em #fff inset;
  border: 2px solid #fff;
}
.slidertext7 i {
  padding-left: 8px;
}
a.slidebtn {
  background: #cc8809;
  color: #fff !important;
  padding: 10px 35px;
  font-size: 16px;
  font-weight: 700;
  border-radius: 5px;
  text-transform: uppercase;
  display: inline-block;
  font-family: "Roboto Condensed", sans-serif;
  text-decoration: none;
  margin-top: 20px;
}
a.slidebtn i {
  margin-left: 10px;
}
a.slidebtn:hover {
  background: #000;
  color: #fff !important;
}
.slidertext7 a:hover {
  box-shadow: 0 0 0 0px #cc8809 inset;
  background: #cc8809;
  color: #fff !important;
}

@-webkit-keyframes bounce {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-30%);
  }
  100% {
    transform: translateY(0);
  }
}
/* Mozilla Firefox 15 below */
@-moz-keyframes bounce {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-30%);
  }
  100% {
    transform: translateY(0);
  }
}
/* Opera 12.0 */
@-o-keyframes bounce {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-30%);
  }
  100% {
    transform: translateY(0);
  }
}
/* W3, Opera 12+, Firefox 16+ */
@keyframes bounce {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-30%);
  }
  100% {
    transform: translateY(0);
  }
}

/*********************************************
		Welcome css
*********************************************/
.about {
  background: #fff;
  -webkit-box-shadow: 0 0 20px rgba(1, 1, 1, 0.19);
  -moz-box-shadow: 0 0 20px rgba(1, 1, 1, 0.19);
  box-shadow: 0 0 20px rgba(1, 1, 1, 0.19);
  padding: 50px;
  z-index: 1000;
  position: relative;
  border: 1px solid #eee;
  display: inline-block;
}
.welImg {
  position: absolute;
  top: 84px;
  right: 0;
  width: 50%;
}
.welImg span {
  display: inline-block;
  position: relative;
}
.welImg span:before {
  content: "";
  border: 1px solid #fff;
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
}
.welcomeWrap {
  padding: 130px 0;
  position: relative;
}
.welcomeWrap .section-header {
  margin-bottom: 15px;
}
.welcomeWrap h1 {
  font-size: 40px !important;
}
.welcomeWrap p {
  font-size: 14px;
  line-height: 28px;
  color: #818080;
}
.welcome-content-box {
  width: 100%;
  margin-top: 25px;
}
.welcome-box h4 {
  display: block;
  font-size: 18px;
  font-weight: bold;
  color: #0a225f;
}
.readmore {
  margin-top: 5px;
}
.readmore a {
  background: #cc8809;
  font-size: 14px;
  color: #cc8809;
  border: 2px solid #cc8809;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  padding: 14px 30px;
  border-radius: 30px;
  text-decoration: none;
  box-shadow: 0 0 0 2em #fff inset;
}
.readmore a:hover {
  background: #cc8809;
  text-decoration: none;
  color: #fff;
  box-shadow: 0 0 0 0px #cc8809 inset;
}
.readmore i {
  padding-left: 10px;
}
.headingTitle div {
  color: #000;
  font-size: 40px;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 10px;
}
.headingTitle div:before {
  left: 50%;
  margin-left: -70px;
}
.headingTitle p {
  padding: 0 100px;
  font-size: 14px;
  color: #000;
  line-height: 24px;
  text-align: center;
}

/****************************************************
		 Appointment css
****************************************************/
.appointment {
  border: 8px solid #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.17);
  padding: 24px;
  background: #fff;
}
.appointment .form-control {
  padding: 6px 16px;
  border-radius: 0;
  height: 42px;
}
.contctxt {
  font-size: 30px;
  font-weight: bold;
  font-family: "Roboto Condensed", sans-serif;
}
.contctxt span {
  color: #cc8809;
}
.appointment p {
  margin-bottom: 14px;
}
.appointment .sbutn {
  padding: 12px 0;
  width: 100%;
  border-radius: 0px;
  background: #000;
  border: none;
  margin-top: 12px;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
}
.appointment .sbutn:hover {
  background: #cc8809;
}
.newuser {
  margin-top: 30px;
  text-align: center;
  color: #666;
  font-size: 18px;
}
.newuser a {
  font-weight: 600;
  color: #0a225f;
  text-decoration: none;
}
.newuser a:hover {
  color: #cc8809;
}
.formint .input-group-addon {
  display: block;
  background: none;
  padding: 6px 0;
  border: none;
  text-align: left;
}
.formint .input-group-addon span {
  position: absolute;
  top: 8px;
  right: 0;
}
.formint .input-group-addon span a {
  text-decoration: none;
  font-size: 10px;
  color: #00aeef;
}
.loginWrp {
  background: #f3f2f2;
}
.appointment .input-wrap {
  position: relative;
  margin-top: 10px;
}
textarea.form-control {
  height: 100px !important;
}

/*********************************************
		Servicevices css
*********************************************/
.service-wrap {
  padding: 66px 0;
  text-align: center;
  background: url(../images/service-bg.jpg) no-repeat top;
  background-size: cover;
}
.service-wrap .headingTitle h1 {
  color: #fff;
}
.service-wrap .headingTitle h1:before {
  left: 50%;
  margin-left: -70px;
  background: url(../images/headong-line2.png) no-repeat;
}
.service-wrap .headingTitle p {
  padding: 0 100px;
  font-size: 14px;
  color: #fff;
  line-height: 24px;
  text-align: center;
}
.serv-area {
  list-style: none;
  padding: 0;
  margin-top: 70px;
}
.serv-area li {
  margin: 0 10px;
}
.service-block {
  text-align: center;
  padding: 40px 0 20px 0;
  min-height: 340px;
  background: #fff;
  margin: 15px 0px;
  border: 1px solid #d8d8d8;
}
.service-icon {
  font-size: 36px;
  color: #cc8809;
  display: inline-block;
  width: 100px;
  height: 100px;
  line-height: 90px;
  border-radius: 100%;
  margin-bottom: 20px;
  box-shadow: 0 0px 0px 2px #cc8809 inset;
  border: solid 5px #fff;
  transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
}
.serv-area li:hover .service-icon {
  box-shadow: 0 0px 0px 46px #cc8809 inset;
  color: #fff;
}
.service-wrap h4 a {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #000;
  font-family: "Roboto Condensed", sans-serif;
}
.service-wrap h4 a:hover {
  color: #cc8809;
}
.service-block .content {
  padding: 12px 25px 0 25px;
}
.owl-nav {
  display: inline-block;
}
.owl-nav span {
  background: #ddd;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  margin: 0 5px;
  display: inline-block;
}
.owl-nav.active span {
  background: #ed1f24;
}
.owl-prev {
  color: #fff;
  width: 43px;
  height: 43px;
  display: block;
  line-height: 43px;
  text-indent: -9999px;
  white-space: nowrap;
  overflow: hidden;
  float: left;
  position: absolute;
  left: 50%;
  margin-left: -45px;
  top: -60px;
  display: block !important;
  background: #cc8809;
  border: 1px solid #e6e6e6;
}
.owl-prev:before {
  content: "\f104";
  font-family: "FontAwesome";
  font-size: 26px;
  text-indent: 0;
  float: left;
  margin-left: 16px;
}
.owl-next {
  width: 43px;
  height: 43px;
  display: block;
  line-height: 43px;
  text-indent: -9999px;
  white-space: nowrap;
  overflow: hidden;
  float: right;
  position: absolute;
  right: 50%;
  top: -60px;
  display: block !important;
  margin-right: -45px;
  background: #cc8809;
  border: 1px solid #e6e6e6;
}
.owl-next:before {
  content: "\f105";
  font-family: "FontAwesome";
  color: #fff;
  text-indent: 0;
  float: left;
  margin-left: 18px;
  font-size: 26px;
}

/*********************************************
		Practice css
*********************************************/
.practice-wrap {
  padding: 80px 0;
}
.practice-wrap h1 {
  text-align: center;
}
.practice-wrap p {
  font-size: 14px;
  color: #666666;
  line-height: 20px;
}
.practice-wrap h3 {
  margin: 0;
}
.practice-wrap h3 a {
  font-size: 28px;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}
.practice-wrap h3 a:hover {
  color: #fff;
}
.pracInfo {
  background: #f7f7f7;
  padding: 10px 18px 18px 18px;
  border: 1px solid #eee;
}
.practice-wrap ul li {
  margin-top: 30px;
}
.practice-box {
  position: relative;
}
.options {
  margin-top: 25px;
}
.practice-box .overlay-box .link {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 36px;
  font-size: 14px;
  line-height: 34px;
  text-align: center;
  border: 1px solid #ffffff;
  margin-right: 6px;
  color: #ffffff;
}
.text {
  font-size: 14px;
  margin-top: 6px;
}
.practice-box .overlay-box {
  background-color: rgba(204, 136, 9, 0.82);

  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  opacity: 0;
  filter: alpha(opacity=0);
  transition: all 450ms ease-out 0s;
  transform: rotateY(180deg) scale(0.5, 0.5);
  padding: 32px;
}
.practice-box:hover .overlay-box {
  opacity: 1;
  filter: alpha(opacity=100);
  transform: rotateY(0deg) scale(1, 1);
}
.practice-wrap .readmore {
  text-align: center;
  margin-top: 60px;
}
.practice-wrap .readmore a {
  padding: 18px 40px;
  font-size: 18px;
}

/***************************
		quote-heading
***************************/
.quote-wrap {
  background: url(../images/quote-bg.jpg) no-repeat;
  background-size: cover;
  padding: 50px 0;
}
.quote-heading {
  font-size: 30px;
  color: #fff;
  font-weight: bold;
  font-family: "Lato", sans-serif;
}
.quote-wrap p {
  font-size: 1.12em;
  color: #fff;
  line-height: 24px;
  margin-bottom: 0;
  margin-top: 8px;
  padding-right: 80px;
}
.quote-btn {
  margin-top: 20px;
}
.quote-btn a {
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid #cc8809;
  color: #cc8809;
  background: #cc8809;
  padding: 18px 40px;
  border-radius: 30px;
  letter-spacing: 1px;
  display: block;
  text-align: center;
  border: 2px solid #fff;
  box-shadow: 0 0 0 2em #fff inset;
  font-weight: bold;
}
.quote-btn a:hover {
  background: #cc8809;
  color: #fff;
  box-shadow: 0 0 0 0px #cc8809 inset;
  border: 2px solid #cc8809;
}

/*********************************************
		Our Team Wrap css
*********************************************/
.attorney-wrap {
  background: #eee;
  padding: 50px 0;
  text-align: center;
}
.attorney-wrap p {
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  color: #333;
  margin-bottom: 25px;
}
.attorney {
  margin-bottom: 30px;
  overflow: hidden;
  text-align: center;
  border: 1px solid #e0e0e0;
  background: #fff;
}
.experts {
  margin-bottom: 0;
}
.attorney-list {
  height: 90px;
  width: 100%;
  position: relative;
}
.attorney-info {
  text-align: center;
  position: relative;
  background: #fff;
  position: absolute;
  display: block;
  height: 100%;
  top: 0;
  z-index: 1;
  padding: 20px;
  left: 0;
  right: 0;
  margin: 0 auto;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.attorney:hover .attorney-info {
  top: -32px;
}
.attorney-info h5 {
  margin-bottom: 0;
}
.attorney-info h5 > a {
  font-size: 18px;
  text-decoration: none;
  color: #000;
  font-weight: 600;
  display: block;
  margin: 0px 0px 4px 0;
  text-transform: uppercase;
}
.attorney-info span {
  font-size: 14px;
  color: #242424;
  margin: 0px 0px 15px;
  display: block;
}
.attorney-info ul {
}
.attorney-info ul li {
  position: relative;
  display: inline-block;
  width: 22%;
}
.attorney-info ul li:nth-child(1) a {
  color: #3b5998;
}
.attorney-info ul li:nth-child(2) a {
  color: #007ab6;
}
.attorney-info ul li:nth-child(3) a {
  color: #dc4b3b;
}
.attorney-info ul li:nth-child(4) a {
  color: #007ab6;
}
.attorney-info ul li a {
  color: #ff0000;
  font-size: 18px;
}
.attorney-info h5 > a:hover {
  color: #222;
}
.attorney-image {
  position: relative;
  overflow: hidden;
}
.expert-team {
  padding-top: 0;
}

/*********************************************
		Contact css
*********************************************/
#contactWrap {
  background: url(../images/contact-bg.jpg) no-repeat;
  background-size: cover;
  padding: 60px 0;
  text-align: center;
}
#contactWrap .head-sec {
  max-width: none;
}
#contactWrap .head-sec h2 {
  font-size: 36px;
  font-weight: 700;
  color: #fff;
  margin-top: 0;
}
#contactWrap .text {
  color: #fff;
  font-size: 14px;
  padding: 0 160px;
  margin-top: 15px;
  font-weight: 600;
}
#contactWrap .text strong {
  font-weight: 700;
}
#contactWrap .readmore {
  margin-top: 20px;
}
#contactWrap .contactBtn a {
  display: inline-block;
}
#contactWrap .readmore a:hover {
  text-decoration: none;
  color: #fff;
  border: 2px solid #fff;
}
#contactWrap .readmore a {
  padding: 18px 34px;
}

/********************************************
		blog-wrap
********************************************/
.blog-wrap {
  padding: 60px 0;
  text-align: center;
}
.blog-service {
  list-style: none;
  margin-top: 30px;
}
.blogGrid {
  margin-top: 0 !important;
  text-align: center;
}
.blog-wrap p {
  padding: 0 180px;
}
.blog-detail {
  background: #f1f1f1;
  padding: 28px 20px;
  margin-top: -5px;
}
.blog-image {
  overflow: hidden;
  display: inline-block;
}
.blog-image img {
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.blog-service li:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.blog-wrap .date {
  font-size: 14px;
  color: #0a225f;
  letter-spacing: 3px;
}
.blog-detail h3 {
  margin-top: 5px;
}
.blog-detail h3 a {
  font-size: 24px;
  font-weight: bold;
  color: #000;
  text-decoration: none;
}
.blog-detail h3 a:hover {
  color: #cc8809;
}
.blog-detail p {
  font-size: 1em;
  line-height: 24px;
  color: #5e5e5e;
  padding: 0 30px;
}
.blog-detail .readmore a {
  padding: 12px 20px;
}
.blog-detail .readmore a:hover {
  background: #cc8809;
  color: #fff;
}
.bloggrid02 li {
  margin: 15px 0;
}
.bloggrid02 {
  text-align: center;
  margin-top: 0 !important;
}
.overlay {
  background-color: rgba(204, 136, 9, 0.72);
  text-align: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  opacity: 0;
  filter: alpha(opacity=0);
  transition: all 450ms ease-out 0s;
  transform: rotateY(180deg) scale(0.5, 0.5);
}
.blog-image {
  display: inline-block;
  overflow: hidden;
  position: relative;
}
.blog-service li:hover .blog-image .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  transform: rotateY(0deg) scale(1, 1);
}

/*********************************************
		footer css
*********************************************/
.footer-info {
  margin-bottom: 40px;
  background: #cc8809;
  padding: 34px 40px;
  margin-top: -110px;
}
.footer-wrap {
  background: #1d1f21;
  padding: 50px 0 20px 0;
}
.footer-wrap h3 {
  color: #fff;
  font-size: 1.25em;
  margin-bottom: 15px;
  margin-top: 0;
}
.social-icon {
  list-style: none;
  margin-bottom: 0;
  margin-top: 5px;
}
.social-icon li {
  display: inline-block;
  border: 1px solid #fff;
  margin: 0 2px;
}
.social-icon li a {
  width: 42px;
  height: 42px;
  display: block;
  text-align: center;
  line-height: 42px;
  color: #fff;
  font-size: 18px;
}
.social-icon li a:hover {
  color: black;
  background-color: white;
}

.footer-wrap .email {
  padding-left: 74px;
  position: relative;
  margin-left: 44px;
}
.footer-wrap .email a {
  font-size: 1.7em;
  color: #fff;
  line-height: 26px;
  font-family: "Lato", sans-serif;
  text-decoration: none;
}
.footer-wrap .email:before {
  content: "\f0e0";
  font-family: "FontAwesome";
  font-size: 54px;
  padding: 0;
  color: #fff;
  position: absolute;
  left: 0;
  top: -13px;
}
.footer-wrap .email span {
  font-size: 1.2em;
  color: #fff;
  display: block;
  font-weight: normal;
}
.footer-wrap .footer-call {
  padding-left: 42px;
  position: relative;
  float: right;
}
.footer-wrap .footer-call a {
  font-size: 1.7em;
  color: #fff;
  line-height: 26px;
  font-family: "Lato", sans-serif;
  text-decoration: none;
}
.footer-wrap .footer-call:before {
  content: "\f10b";
  font-family: "FontAwesome";
  font-size: 60px;
  padding: 0;
  color: #fff;
  margin-right: 15px;
  position: absolute;
  left: 0;
  top: -13px;
}
.footer-wrap .footer-call span {
  font-size: 1.2em;
  color: #fff;
  display: block;
  font-weight: normal;
}
.footer-wrap {
  background: #282e3f;
  padding: 50px 0px 10px 0px;
  margin-top: 70px;
}
.footer-wrap p {
  font-size: 14px;
  color: #9a9a9a;
  line-height: 24px;
  margin-top: 15px;
}
.footer-heading {
  font-size: 22px;
  color: #fff;
  font-weight: bold;
  font-family: "Roboto Condensed", sans-serif;
  margin-bottom: 24px;
  position: relative;
}
.footer-heading:before {
  content: "";
  background: #fff;
  width: 38px;
  height: 2px;
  position: absolute;
  bottom: -11px;
  left: 0;
}
.footer-nav {
  list-style: none;
}
.footer-nav li {
  border-top: 1px solid rgba(255, 255, 255, 0.13);
}
.footer-nav li:first-child {
  border: none;
}
.footer-nav li a {
  text-decoration: none;
  color: #9a9a9a;
  line-height: 30px;
  width: 100%;
  display: block;
}
.footer-nav li a:hover {
  color: #cc8809;
}
.footer-nav li a:before {
  content: "\f0da";
  font-family: "FontAwesome";
  padding-right: 10px;
}
.formWrp .form-control {
  height: 36px;
  width: 100%;
  border-radius: 0;
}
.formWrp .input-Wrap {
  margin-bottom: 8px;
}
textarea.form-control {
  height: 80px !important;
}
.formWrp .sub {
  background: #ff0014;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  padding: 10px 28px;
  border: none;
}
.formWrp .sub:hover {
  background: #fff;
  color: #000;
}
.footer-service {
  margin-top: 18px;
  border-top: 1px solid #333;
}
.footer-service .col-md-6 {
  padding: 0;
}
.copyright {
  text-align: center;
  font-size: 14px;
  color: #babdc8;
  padding-top: 10px;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.btn.btn-foot-news {
  background-color: #cc8809;
  border-radius: 0;
  border: 1px solid #fff;
  color: #fff;
  font-size: 1.1em;
  height: 47px;
  padding: 0;
  position: absolute;
  right: 0;
  margin: 0;
  top: 0;
  width: 57px;
  transition: all 0.2s ease-in-out;
}
.btn.btn-foot-news:hover {
  background: #cc8809;
  color: #fff;
}
.footer-wrap .form-control {
  background-color: white;
  border: 1px solid #fff;
  border-radius: 0;
  box-shadow: none;
  font-size: 0.9em;
  font-family: "Roboto";
  height: auto;
  line-height: 25px;
  padding: 10px;
  -webkit-border-radius: 0;
  -webkit-box-shadow: none;
}
.foot-newsletter {
  position: relative;
}

/*********************************************
		Inner Header css
*********************************************/
.inner-heading {
  background: url(../images/inner-heading-bg.jpg) no-repeat top;
  background-size: cover;
  padding: 70px 0;
}
.inner-heading h3 {
  font-size: 40px;
}
.inner-heading h3,
.inner-heading h4 {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  font-weight: bold;
}

/*********************************************
		Inner Content css
*********************************************/
.inner-content {
  padding: 60px 0 40px 0;
}
.center-info {
  background: #f5f5f5;
  padding: 60px 0;
  margin: 40px 0;
}
.aboutclient {
  margin-top: 25px;
}
.aboutclient .team-info {
  background: #eee;
}
.inner-content .quote-wrap {
  margin: 40px 0;
}
.inner-content .serv-area li {
  margin: 0 !important;
}
.inner-content .serv-area {
  margin-top: 0;
}
.inner-content {
  background: none;
}

/*********************************************
		Inner welcome css
*********************************************/
.inner-content .about {
  margin: 0;
  padding: 0;
  background: none;
  box-shadow: none;
  border: none;
}
.inner-content .welImg {
  position: static;
  width: auto;
}
.inner-content .welcomeWrap {
  padding: 0;
}
.inner-content .attorney {
  margin: 15px 0;
}

/*********************************************
		Contact css
*********************************************/
.contact-form {
  max-width: 800px;
  margin: 0 auto;
}
.contact-form input,
.contact-form textarea {
  color: #8c8c8c;
  float: left;
  border: 1px solid #ddd;
  font-size: 12px;
  line-height: 32px; /*margin-bottom: 15px;*/
  padding: 10px 20px;
  width: 100%;
}
.contact-form {
  text-align: center;
}
.contact-now .contact {
  margin-bottom: 10px;
  padding: 14px 0;
  padding-top: 14px;
}
.contact-form .button {
  background: #fff;
  color: #cc8809;
  font-size: 16px;
  padding: 14px 42px;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 30px;
  box-shadow: 0 0 0 2em #fff inset;
  -webkit-transition: 0.4s ease-in;
  border: 2px solid #cc8809;
}
.contact-form .button:hover {
  background: #cc8809;
  box-shadow: 0 0 0 0px #fff inset;
  color: #fff;
  border: 2px solid #cc8809;
}
.contact-form h1 {
  text-align: center;
  margin-bottom: 15px;
  font-size: 36px;
}
.contact-form h1:before {
  background: none;
}
.contact-form p {
  margin-bottom: 20px;
}
.contact-icon {
  width: 55px;
  border-radius: 50%;
  float: left;
  height: 55px;
  text-align: center;
  padding: 4px;
  margin-right: 19px;
  background: #cc8809;
}

.contact i {
  border-radius: 50%;
  font-size: 24px;
  line-height: 42px;
  color: #fff;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border: 1px dashed rgba(336, 336, 336, 0.5);
  width: 100%;
  height: 100%;
}
.map {
  margin-bottom: 40px;
}
.map iframe {
  width: 100%;
}
.contact {
  margin-bottom: 30px;
}
.contact p {
  margin-bottom: 0;
}

/*********************************************
		 Blog css
**********************************************/
.blogWraper {
}
.blogList {
  list-style: none;
}
.blogList > li {
  background: #fbfbfb;
  padding: 20px;
  margin-bottom: 30px;
  border: 1px solid #ececec;
}
.blogList > li:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.blogList > li .postimg {
  position: relative;
  display: inline-block;
}
.blogList li:hover .postimg .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  transform: rotateY(0deg) scale(1, 1);
}
.blogList li .postimg .date {
  font-size: 24px;
  position: absolute;
  right: 22px;
  bottom: -20px;
  background: #cc8809;
  padding: 6px 13px;
  line-height: 24px;
  color: #fff;
  font-weight: bold;
  border: 1px solid #fff;
  z-index: 1000;
}
.blogList li .postimg .date span {
  display: block;
  font-size: 16px;
}
.blogdetail h4 {
  font-size: 24px;
  margin-top: 20px;
}
.post-header h4 a {
  font-size: 24px;
  color: #000;
  font-weight: 600;
  text-decoration: none;
}
.post-header h4 a:hover {
  color: #cc8809;
}
.postmeta {
  margin: 10px 0 10px 0;
  font-size: 14px;
  border-bottom: 1px solid #e4e4e4;
  border-top: 1px solid #e4e4e4;
  padding: 10px 0;
}
.postmeta span {
  border-right: 1px solid #e4e4e4;
  padding-right: 10px;
  color: #cc8809;
  margin-right: 12px;
}
.postmeta a {
  color: #cc8809;
}
.blogList li p {
  font-size: 14px;
  line-height: 24px;
  color: #777;
}
.blogList li .view-btn {
  text-align: left;
  margin-top: 10px;
}
.blogList li .view-btn a {
  font-size: 14px;
  padding: 10px 22px;
}
.blogList .readmore a {
  padding: 12px 26px;
}

/*********************************************
		 Side Bar css
**********************************************/
.sidebar .widget {
  margin-bottom: 20px;
  padding-bottom: 20px;
  background: #fbfbfb;
  padding: 25px;
  border: 1px solid #ececec;
}
.sidebar .widget-title {
  font-size: 22px;
  font-weight: 600;
  color: #282e3f;
  border-bottom: 1px solid #ececec;
  padding-bottom: 10px;
  margin-bottom: 22px;
}

/*********************************************
		 Sidebar Search css
**********************************************/
.search {
  position: relative;
  margin-bottom: 15px;
}
.search .form-control {
  border-radius: 0;
  height: auto;
  padding: 10px 12px;
  border-color: #ddd;
}
.search .btn {
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 0;
  background: none;
  font-size: 20px;
}

/*********************************************
		 Categories css
**********************************************/
.sidebar .categories li {
  margin-bottom: 6px;
  position: relative;
  padding-left: 28px;
  border-bottom: 1px solid #d8d8d8;
}
.sidebar .categories li:last-child {
  border-bottom: none;
}
.sidebar .categories li a {
  margin-top: 0;
  color: #545454;
  font-size: 14px;
  font-weight: 600;
  display: block;
  text-decoration: none;
  padding: 5px 0;
}
.sidebar .categories li a:hover {
  color: #cc8809;
}
.sidebar .categories li:before {
  content: "\f138 ";
  font-family: "FontAwesome";
  position: absolute;
  left: 0px;
  color: #000;
  font-size: 18px;
  top: 3px;
}
.sidebar .categories li:hover:before {
  color: #cc8809;
}

/*********************************************
		 Archives css
**********************************************/
.archive li {
  line-height: 45px;
}
.archive li a {
  margin-top: 0;
  color: #888;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
}
.archive li span {
  float: left;
  height: 30px;
  width: 30px;
  text-align: center;
  background: #282e3f;
  border: 1px solid #fff;
  outline: 3px solid #f5f5f5;
  margin-right: 20px;
  line-height: 26px;
  font-size: 12px;
  color: #fff;
  margin-top: 10px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.archive li a:hover span {
  background: #cc8809;
  color: #fff;
}
.archive li a:hover {
  color: #cc8809;
}

/*********************************************
		 Popular Posts css
**********************************************/
.papu-post {
}
.papu-post .media-left {
  margin-right: 0px;
}
.papu-post .media-left img {
  width: 100%;
}
.papu-post .media-left a {
  width: 80px;
  margin-top: 0;
  margin-right: 5px;
  display: inline-block;
}
.papu-post span {
  color: #000;
  letter-spacing: 0px;
  font-size: 11px;
}
.papu-post li {
  border-bottom: 1px solid #dcdcdc;
  padding: 20px 0;
  margin: 0px;
}
.papu-post .media-heading {
  display: inline-block;
  width: 100%;
  color: #545454;
  margin-top: 0px;
  font-size: 14px;
  line-height: 20px;
}
.papu-post li:last-child {
  border-bottom: 0;
}

/*********************************************
		 Tags css
**********************************************/
.tags:after {
  display: table;
  clear: both;
  content: "";
}
.tags li {
  display: inline-block;
  float: left;
}
.tags a {
  font-size: 13px;
  color: #969595;
  border: 1px solid #dadada;
  padding: 7px 10px;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
  text-transform: uppercase;
}
.tags a:hover {
  border: 1px solid #cc8809;
  background: #cc8809;
  color: #fff;
  text-decoration: none;
}

/*********************************************
		 Photo Gallery css
**********************************************/
.photo-steam {
  margin: 0 -5px;
}
.photo-steam:after {
  display: table;
  clear: both;
  content: "";
}
.photo-steam li {
  float: left;
  width: 25%;
  padding: 0 5px;
  margin-bottom: 10px;
}

/*********************************************
		 Blog Grid css
**********************************************/
.blogGrid li {
  margin-bottom: 30px;
}
.blog-inter {
  background: #fff;
  padding: 20px;
  border: 1px solid #e4e4e4;
}
.blogGrid li .postimg {
  position: relative;
}
.blogGrid li .postimg .date {
  font-size: 24px;
  position: absolute;
  left: 8px;
  bottom: 8px;
  background: #ff0000;
  padding: 6px 13px;
  line-height: 24px;
  color: #fff;
  font-weight: bold;
  border: 1px solid #fff;
  z-index: 1000;
}
.blogGrid li .postimg .date span {
  display: block;
  font-size: 16px;
}
.blogGrid li .postimg:before {
  background: rgba(0, 72, 255, 0.95);
  bottom: 0px;
  content: "";
  left: 0px;
  position: absolute;
  right: 0px;
  top: 0px;
  transform: scale(0);
  transition: all 300ms ease 0s;
  opacity: 0.5;
  z-index: 1;
}
.blogGrid li:hover .postimg:before {
  transform: scale(1);
}
.blogGrid .view-btn {
  text-align: left;
  margin-top: 15px;
}
.blogGrid .view-btn a {
  color: #fff;
  padding: 10px 22px;
  font-size: 14px;
}

/*********************************************
		 Pagination css
**********************************************/
.pagiWrap .showreslt {
  font-size: 14px;
  font-weight: 600;
  margin-top: 10px;
}
.pagiWrap .pagination {
  text-align: right;
  margin: 0;
  float: right;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-radius: 0;
}
.pagination li a:hover,
.pagination li.active a {
  background: #cc8809;
  border: 1px solid #cc8809;
  color: #fff;
}
.pagination > .active > a:hover {
  background: #cc8809;
  border: 1px solid #cc8809;
  color: #fff;
}
.pagination > li > a,
.pagination > li > span {
  color: #000;
}

/*********************************************
		Testimonials css
*********************************************/
.testimonials {
  text-align: center;
}
.testimonials-wrap .main-heading:before {
  left: 50%;
  margin-left: -40px;
  background: #fff;
}
.testimonials li {
  margin: 10px;
  margin-top: 20px;
}
.testi-info {
  background: #fff;
  padding: 70px 30px 30px 50px;
  position: relative;
  margin: 40px 0;
}
.testi-info p {
  position: relative;
  font-size: 14px;
  line-height: 24px;
  font-style: italic;
  color: #696969;
}
.testi-info p:before {
  content: "\f10d";
  font-family: "FontAwesome";
  position: absolute;
  top: -5px;
  left: -29px;
  color: rgba(204, 136, 9, 0.35);
  font-size: 43px;
  font-style: normal;
}
.name {
  font-size: 18px;
  color: #000;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Roboto Condensed", sans-serif;
}
.name span {
  display: block;
  text-transform: none;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: normal;
}
.client-image img {
  border: 3px solid #fff;
}
.client-image {
  position: absolute;
  top: -50px;
  left: 50%;
  margin-left: -48px;
}
.test .testi-info {
  background: #eee;
  border: 1px solid #e6e6e6;
}
.test .client-image img {
  border: 2px solid #cc8809;
}
.test li {
  margin: 0;
  margin-top: 20px;
}

/*********************************************
	 404 page css
**********************************************/
.four-zero-page {
  text-align: center;
  padding: 0 0 50px 0;
}
.four-zero-page h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 300px;
  color: #cc8809;
  font-weight: 800;
}
.four-zero-page h3 {
  display: inline-block;
  padding: 12px 36px;
  border: 2px solid #cc8809;
  background: #cc8809;
  color: #fff;
  font-weight: 600;
  font-size: 30px;
  letter-spacing: 10px;
}
.four-zero-page p {
  letter-spacing: 2px;
  padding: 0 250px;
  font-weight: 600;
  font-size: 16px;
  margin-top: 10px;
  line-height: 28px;
}
.four-zero-page .view-btn {
  text-align: center;
  margin-top: 20px;
}
.four-zero-page .view-btn a {
  color: #fff;
  padding: 10px 22px;
  font-size: 14px;
  background: #0a225f;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
}
.four-zero-page .view-btn a:hover {
  background: #ff0000;
}

/*****************************************
		Faqs css
*****************************************/
.faqs {
  padding-bottom: 0;
}
.faqs h1 {
  text-align: left;
}
.faqs h1:before {
  left: 0;
  margin-left: 0;
}
.faqs-service {
  list-style: none;
  margin-top: 10px;
  margin-top: 20px;
}
.faqs-service li {
  margin-bottom: 10px;
}
.faqs-service li h4 {
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  color: #333;
  position: relative;
  padding-top: 5px;
  background: #efefef;
  padding: 15px 30px 15px 20px;
  margin: 0;
}
.faqs-service li h4:before {
  content: "\f055";
  font-family: "FontAwesome";
  padding: 10px 0;
  color: #cc8809;
  font-size: 24px;
  display: inline-block;
  text-align: center;
  transition: 0.3s ease-in;
  -moz-transition: 0.3s ease-in;
  -webkit-transition: 0.3s ease-in;
  -ms-transition: 0.3s ease-in;
  position: absolute;
  top: 0;
  right: 12px;
}
.faqs-service li h4:hover,
.faqs-service li h4.active {
  color: #fff;
  background: #cc8809;
}
.faqs-service li:hover h4:before {
  color: #fff;
}
.faqs-service li h4.active:before {
  content: "\f056";
  color: #fff;
}
.faqs-service li p {
  display: none;
  height: auto;
  overflow: hidden;
  position: relative;
  padding: 10px 20px 0 20px;
  background: #f7f7f7;
  border: 1px solid #eee;
  padding-bottom: 10px;
}
.faqImg {
  text-align: center;
}
.faqsWrp .inner-content {
  padding-bottom: 0 !important;
}
.faqsWrp .footer-wrap {
  margin-top: 60px;
}

/*****************************************
		Case Results css
*****************************************/
.cases {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
  border-bottom: none !important;
  margin-top: 30px;
}
.media-body h3 {
  margin: 0;
}
.media-body h3 a {
  color: #0a225f !important;
  font-weight: bold;
  letter-spacing: 0.5px;
  line-height: normal !important;
}
.featureLinks {
  margin: 15px 0;
}
.featureLinks li {
  font-size: 16px;
  color: #000;
  margin-top: 10px;
  position: relative;
  padding-left: 25px;
}
.featureLinks li:before {
  content: "\f061";
  font-family: "FontAwesome";
  position: absolute;
  top: 0;
  left: 0;
  color: #cc8809;
}
.inner-content .practice-wrap {
  padding: 0;
}
.post-header h1 {
  margin-top: 30px;
  font-size: 36px;
}
.post-header h1:before {
  left: 0;
  margin-left: 0;
}
blockquote {
  border-left: 5px solid #cc8809 !important;
  background: #f7f7f7 !important;
}
.caseResult {
  text-align: center;
}
.caseResult li {
  margin-bottom: 30px;
}

/*****************************************
		Attorney css
*****************************************/
.listWrpService {
  margin-bottom: 12px;
}
.attorneyWrp h3 {
  margin-top: 0;
  color: #0a225f;
}
.attorneyWrp h3 a {
  text-decoration: none;
  color: #0a225f;
  font-weight: bold;
}
.attorneyWrp h3 a:hover {
  color: #f00;
}
.featureInfo li {
  margin-bottom: 10px;
  font-size: 14px;
}
.featureInfo li i {
  font-size: 16px;
  margin-right: 5px;
  color: #cc8809;
}
.featureInfo {
  margin-bottom: 10px;
}
.featureInfo li:nth-child(1) {
  padding-left: 0;
  border-left: none;
}
.attorneyWrp .col-md-2 {
  padding-right: 0;
}
.attorney-btns {
}
.attorney-btns li {
  display: inline-block;
}
.attorney-btns li a {
  background: #0a225f;
  font-size: 12px;
  color: #fff !important;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  padding: 8px 14px;
}
.attorney-btns li a:hover {
  background: #ff0000;
  text-decoration: none;
}
.attorney-btns li:nth-child(2) a {
  background: #ff0000;
}
.attorney-btns li:nth-child(2) a:hover {
  background: #0a225f;
}
.attorney-social {
  border-top: 1px solid #cecece;
  padding: 3px 5px 5px 10px;
  background: #ff0000;
}
.attorney-social li {
  position: relative;
  display: inline-block;
  width: 22%;
}
.attorney-social li a {
  color: #fff;
  font-size: 12px;
}
.innerhead {
  margin-top: 20px !important;
  font-weight: bold;
}
.attorneyWrp .social-icon {
  margin-bottom: 10px;
}
.unorderlist li {
  font-size: 14px;
  line-height: 30px;
  position: relative;
  padding-left: 25px;
}
.unorderlist li:before {
  content: "\f00c";
  font-family: "FontAwesome";
  position: absolute;
  top: 0;
  left: 0;
  color: #cc8809;
}
blockquote {
  font-size: 16px;
  font-style: italic;
  border-left: 3px solid #73b21a;
  padding: 15px 0 15px 20px;
  margin: 35px 0 35px 40px;
  line-height: 2;
}

.attorneyDetails > li {
  border: 1px solid #eee;
  padding: 20px;
  margin-bottom: 30px;
}

/*****************************************
		Attorney Details css
*****************************************/
.edu li {
  box-shadow: 0 0 5px #0000001c;
  padding: 12px 25px;
  margin: 20px 0;
}
.edu h4 {
  margin-bottom: 5px;
  font-weight: bold;
  color: #0a225f;
  font-size: 22px;
}
.edu .date {
  font-size: 16px;
  font-weight: 600;
  color: #cc8809;
}
.progresshead {
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: bold;
  color: #f00;
}
.aboutclient {
  text-align: center;
}
.listImg {
  display: inline-block;
  position: relative;
  overflow: hidden;
}
.attorneyDetails .listImg img {
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.attorneyDetails li:hover .listImg .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  transform: rotateY(0deg) scale(1, 1);
}

/*****************************************
		Innerservice css
*****************************************/
.innerservice .serv-area {
  margin: 0;
}
.innerservice .service-block:hover {
  transform: none;
}

/*****************************************
		Media Screen
*****************************************/
@media screen and (max-width: 1200px) {
  .contact-left {
    padding: 60px 0px 37px 0px;
  }
  .navbar-default .navbar-nav > li > a {
    padding: 13px 12px;
  }
}

@media screen and (max-width: 990px) {
  .logo {
    margin-top: 8px;
  }
  .navbar-default .navbar-nav > li > a {
    padding: 20px 14px;
  }
  .welcomeWrap h1 {
    margin-top: 20px;
  }
  .articles-wrap p {
    padding: 0;
  }
  .right-map {
    position: static;
    width: 100%;
    margin-top: 20px;
  }
  .map iframe {
    height: 300px;
  }
  .contact-left {
    padding-bottom: 0;
  }
  .navbar-default .navbar-nav > li > a {
    padding: 12px 7px;
    font-size: 13px;
  }
  .welcomeWrap img {
    text-align: center;
  }
  .headingTitle p {
    padding: 0;
  }
  .four-zero-page p {
    letter-spacing: 1px;
    padding: 0;
  }
  .pagiWrap {
    margin-bottom: 20px;
  }
  .testimonials li {
    margin-bottom: 60px;
  }
  .welImg {
    text-align: center;
  }
  .innerImg {
    margin-bottom: 20px;
  }
  .lawWrp {
    min-height: 120px;
    min-height: 80px;
  }
  .welImg {
    position: static;
    width: auto;
  }
  .about {
    margin: auto;
    margin-bottom: 40px;
  }
  .quote-wrap {
    text-align: center;
  }
  .quote-btn a {
    display: inline-block;
  }
  .quote-wrap p {
    padding: 0;
  }
  .attorney-image img {
    width: 100%;
  }
  #contactWrap .text {
    padding: 0;
  }
  .blog-wrap p {
    padding: 0;
  }
  .blog-service li {
    margin: 15px auto;
    max-width: 375px;
  }
  .welcomeWrap {
    padding: 60px 0;
  }
  .info-service li {
    margin-bottom: 10px;
  }
  .slidertext6 {
    line-height: 24px !important;
  }
  .service-wrap .headingTitle p {
    padding: 0;
  }
}

@media screen and (max-width: 767px) {
  .site-topbar {
    text-align: center;
  }
  .topbar-links {
    text-align: center;
  }
  .logo {
    text-align: center;
  }
  .navigationwrape {
    float: none;
  }
  .navbar-default .navbar-nav > li > a {
    padding: 10px 30px;
    font-size: 14px;
  }
  .navbar-collapse.in {
    overflow: hidden;
  }
  .navbar-nav > li > .dropdown-menu {
    position: static;
    width: 100%;
    margin-bottom: 10px;
  }
  .four-zero-page h2 {
    font-size: 236px;
  }
  .pagiWrap {
    text-align: center;
  }
  .pagiWrap .pagination {
    float: none;
    margin-top: 10px;
  }
  .blog-inter {
    max-width: 412px;
    margin: 0 auto;
  }
  .detailImg {
    margin-bottom: 20px;
  }
  .blogList > li {
    max-width: 412px;
    margin: 0 auto 30px auto;
  }
  .welcome-content-box {
    text-align: center;
  }
  .welcomeWrap .readmore {
    text-align: center;
  }
  .headerInfo {
    float: none;
    display: inline-block;
    text-align: left;
  }
  .adressWrp {
    text-align: center;
  }
  .navbar-default .navbar-nav > li:last-child {
    margin-left: 10px;
  }
  .navbar-default .navbar-nav > li:last-child a {
    padding: 10px 20px;
  }
  .footer-info {
    text-align: center;
    padding: 40px 0;
  }
  .footer-wrap .email:before {
    font-size: 38px;
    left: 50%;
    top: -50px;
    margin: 0;
    margin-left: -18px;
  }
  .footer-wrap .footer-call {
    float: none;
  }
  .footer-wrap .email {
    padding: 0;
    margin-top: 60px;
  }
  .footer-wrap .footer-call {
    padding: 0;
    margin-top: 78px;
  }
  .footer-wrap .footer-call:before {
    left: 50%;
    top: -72px;
    margin-left: -12px;
  }
  .slidertext6 {
    line-height: 10px !important;
  }
  .footer-wrap .email {
    margin-left: 0;
  }
}

@media screen and (max-width: 480px) {
  .slidertext3 span {
    font-size: 14px !important;
    display: block;
  }
  .slidertext6 {
    display: block;
    margin-top: -6px !important;
  }
  h1 {
    font-size: 26px;
  }
  .four-zero-page h2 {
    font-size: 140px;
  }
  .four-zero-page h3 {
    font-size: 18px;
  }

  .info-service .icon {
    float: none;
    margin-right: 0;
    display: inline-block;
    margin: 15px 0;
  }
  .lawWrp {
    text-align: center;
  }
  .welcomeWrap h1 {
    font-size: 30px !important;
  }
  .about h3 {
    font-size: 20px;
  }
  .quote-heading {
    font-size: 24px;
  }
  .quote-btn a {
    font-size: 14px;
  }
}

#scrollUp {
  background: #000;
  bottom: 10px;
  color: #fff;
  height: 50px;
  position: absolute;
  right: 50px;
  width: 50px;
  z-index: 999;
  text-align: center;
  line-height: 43px;
  font-size: 30px;
  -webkit-transition: all 0.3s;
  transition: 0.3s;
  border-radius: 50%;
  position: fixed;
  z-index: 2147483647;
  display: none;
}

#subscriber-msg {
  color: white;
}

.owl-nav {
  display: none !important;
}
.testimonials {
  margin-top: 50px;
  margin-bottom: 20px;
}
.title-underline {
  border: 1px rgb(92, 83, 83) solid;
  margin: auto;
  margin-bottom: 20px;
  background-color: rgb(92, 83, 83);
  width: 320px;
  padding: 0;
}

#customers-testimonials .item {
  box-shadow: 0px 0px 5px grey;
  margin: 10px;
  box-sizing: border-box;
  font-size: 20px;
  padding: 15px;
  border-radius: 5px;
}
#testimonials-page {
  margin-top: 20px;
}
#testimonials-page .item .shadow-effect {
  box-shadow: 0px 0px 5px grey;
  padding: 15px;
  box-sizing: border-box;
  font-size: 20px;
  border-radius: 5px;
  margin: 5px;
}
#testimonials-page .item .shadow-effect .img-box {
  text-align: center;
  margin-bottom: 10px;
}
.link-box {
  font-size: 16px;
}
.link-box div {
  border-bottom: 1px dashed grey;
  padding-bottom: 5px;
}
.link-box div a:hover {
  color: red;
  text-decoration: none !important;
}
.link-box div i.fa {
  font-size: 20px;
  color: red;
}
.text-center {
  text-align: center !important;
}
.text-right {
  text-align: right !important;
}
.text-left {
  text-align: left !important;
}
