/*!
 * Custom css styling
 */
label,
table tr th {
  font-weight: bolder;
}
.alert {
  padding: 10px;
}
.text-white {
  color: #ffffff !important;
}

.text-black {
  color: #000000 !important;
}
.base-color {
  color: #f15b5a !important;
}
.bordernone {
  border: none !important;
}
.error {
  color: #d9534f !important;
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 0;
  float: left;
}
.heavy {
  font-weight: bold !important;
}

.heavy-400 {
  font-weight: 400 !important;
}

.form-control.select2 {
  border: none;
}
.clearfix {
  clear: both;
}
.loader {
  display: none;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 150px;
  z-index: 2222;
  background: none;
}
.loader .processing {
  width: 20%;
}
.hide {
  display: none;
}
.backDrop {
  background-color: #000000;
  bottom: 0;
  display: none;
  opacity: 0.5;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1111;
  transition: opacity 0.15s linear 0s;
}

.select2-container {
  padding: 0;
}
.width10 {
  float: left;
  margin-left: 20px;
  width: 10%;
}
.bg-white {
  background: #fff !important;
}
.bg-light {
  background: #f0f5f7 !important;
}
.line-height-30 {
  line-height: 30px !important;
}
.widget ul li.timming {
  margin: 4px 0 0;
  padding: 0 0 5px;
}
.arrow-list-three ul li.timming {
  line-height: 30px;
  /*font-weight: bold;*/
}
.width40per {
  float: left;
  width: 50%;
}
.banner img {
  width: 100%;
  height: 100%;
  min-height: 161px;
}
.appointment-slots {
  font-family: Arial, Helvetica, sans-serif;
}
@media (max-width: 480px) {
  .banner img {
    min-height: 79px;
  }
}

@media (max-width: 768px) {
  .banner img {
    min-height: 79px;
  }
  .entry-content img {
    width: 100% !important;
    height: 100% !important;
  }
}
@media (min-width: 1400px) {
  .banner {
    max-height: 190px;
  }
}

.appoint-page form input[type="text"],
.appoint-page form input[type="email"],
.appoint-page form textarea {
  margin-bottom: 5px !important;
}
.home-slider input[type="text"],
.home-slider input[type="email"] {
  margin-bottom: 5px !important;
}

.home-slider .appointment-form label.error {
  color: #f15b5a !important;
}
#st-1.st-hidden {
  opacity: 1;
}
.contact-page .contact-form input[type="text"],
.contact-page .contact-form textarea {
  margin-bottom: 0;
  margin-top: 15px;
}
figure.overlay-effect img {
  width: 100%;
  min-height: 200px;
  max-height: 200px;
  border-radius: 6px;
}

/********************************* error codes styles ******************************************/

.not-found .error-404 {
  color: #d9534f;
  font-size: 128px;
  font-weight: 300;
  letter-spacing: -10px;
  line-height: 128px;
  margin-bottom: 20px;
  margin-top: 0;
  position: relative;
  top: 35px;
}
/********************************* font size styles ******************************************/
.font-10 {
  font-size: 10px !important;
}
.font-11 {
  font-size: 11px !important;
}
.font-12 {
  font-size: 12px !important;
}
.font-14 {
  font-size: 14px !important;
}
.font-16 {
  font-size: 16px !important;
}
.font-18 {
  font-size: 18px !important;
}
.font-20 {
  font-size: 20px !important;
}
.font-25 {
  font-size: 25px !important;
}
.font-30 {
  font-size: 30px !important;
}
.font-40 {
  font-size: 40px !important;
}

.bg-gray {
  background-color: #eaeaec !important;
}
.bg-black {
  background-color: #222222 !important;
}
.bg-red {
  background-color: #f56954 !important;
}
.bg-yellow {
  background-color: #f39c12 !important;
}
.bg-aqua {
  background-color: #00c0ef !important;
}
.bg-blue {
  background-color: #0073b7 !important;
}
.bg-light-blue {
  background-color: #3c8dbc !important;
}
.bg-green {
  background-color: #00a65a !important;
}
.bg-navy {
  background-color: #001f3f !important;
}
.bg-teal {
  background-color: #39cccc !important;
}
.bg-olive {
  background-color: #3d9970 !important;
}
.bg-lime {
  background-color: #01ff70 !important;
}
.bg-orange {
  background-color: #ff851b !important;
}
.bg-fuchsia {
  background-color: #f012be !important;
}
.bg-purple {
  background-color: #932ab6 !important;
}
.bg-maroon {
  background-color: #85144b !important;
}

/***************************************** margins styles ***************************************/
.margin0 {
  margin: 0 !important;
}
.margin-5 {
  margin: -5px !important;
}
.marginleft0 {
  margin-left: 0 !important;
}
.marginleft8 {
  margin-left: 8px !important;
}
.marginleft10 {
  margin-left: 10px !important;
}
.marginleft15 {
  margin-left: 15px !important;
}
.marginleft20 {
  margin-left: 20px !important;
}
.marginleft25 {
  margin-left: 25px !important;
}

.marginbottom0 {
  margin-bottom: 0 !important;
}
.marginbottom5 {
  margin-bottom: 5px !important;
}
.marginbottom8 {
  margin-bottom: 8px !important;
}
.marginbottom10 {
  margin-bottom: 10px !important;
}
.marginbottom15 {
  margin-bottom: 15px !important;
}
.marginbottom20 {
  margin-bottom: 20px !important;
}
.marginbottom25 {
  margin-bottom: 25px !important;
}

.margintop0 {
  margin-top: 0 !important;
}
.margintop3 {
  margin-top: 3px !important;
}
.margintop8 {
  margin-top: 8px !important;
}
.margintop10 {
  margin-top: 10px !important;
}
.margintop15 {
  margin-top: 15px !important;
}
.margintop20 {
  margin-top: 20px !important;
}
.margintop25 {
  margin-top: 25px !important;
}
.marginright10 {
  margin-right: 10px !important;
}
.marginright15 {
  margin-right: 15px !important;
}
.marginright25 {
  margin-right: 25px !important;
}
/********************************************** padding styles *********************************************/
.padding0 {
  padding: 0 !important;
}
.padding10 {
  padding: 10px !important;
}
.paddingleft0 {
  padding-left: 0 !important;
}
.paddingleft8 {
  padding-left: 8px !important;
}
.paddingleft10 {
  padding-left: 10px !important;
}
.paddingleft15 {
  padding-left: 15px !important;
}
.paddingleft20 {
  padding-left: 20px !important;
}
.paddingleft25 {
  padding-left: 25px !important;
}
.paddingtop0 {
  padding-top: 0 !important;
}
.paddingtop8 {
  padding-top: 8px !important;
}
.paddingtop10 {
  padding-top: 10px !important;
}
.paddingtop15 {
  padding-top: 15px !important;
}
.paddingtop20 {
  padding-top: 20px !important;
}
.paddingtop25 {
  padding-top: 25px !important;
}
.paddingright0 {
  padding-right: 0;
}

.paddingright3 {
  right: 3px !important;
}
.paddingright10 {
  right: 10px !important;
}
.paddingright15 {
  padding-right: 15px !important;
}
.paddingright20 {
  padding-right: 20px !important;
}
.paddingright25 {
  padding-right: 25px !important;
}
.paddingbottom0 {
  padding-bottom: 0 !important;
}
.paddingbottom3 {
  padding-bottom: 3px !important;
}
.paddingbottom10 {
  padding-bottom: 10px !important;
}
.paddingbottom15 {
  padding-bottom: 15px !important;
}
.paddingbottom20 {
  padding-bottom: 20px !important;
}
.paddingbottom25 {
  padding-bottom: 25px !important;
}
.pad-tb-50 {
  padding: 50px 0;
}
